{
  "extends": [
    "taro/react"
  ],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "no-unused-vars": "warn",
    "quotes": "off",
    "jsx-quotes": "off",
    "import/first": "off",
    "react/jsx-indent": "off",
    "react/jsx-indent-props": "off",
    "indent": "off"
  }
}