// 颜色变量
$primary-blue: #47a5fd;
$white: #ffffff;
$gray-bg: #f5f5f5;
$gray-border: #e5e5e5;
$black: #000000;

// 间距变量
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

// 字体大小
$font-xs: 22px;
$font-sm: 24px;
$font-md: 28px;
$font-lg: 32px;
$font-xl: 36px;

// 圆角
$radius-sm: 8px;
$radius-md: 12px;
$radius-lg: 16px;
$radius-xl: 24px;

//图标大小
$icon-xs: 16px;
$icon-sm: 24px;
$icon-md: 32px;
$icon-lg: 48px;

// 导出变量供 JS 使用
:export {
	primaryBlue: $primary-blue;
	white: $white;
	black: $black;
	radius_m:$radius-md;
}
