.btn {
  background-color: var(--color-bg-card, #fff);
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px ;
  height: 60px;
  margin: 10px 0;
  gap: 10px;
}
.btn text {
  line-height: 20px;
  font-size: 40px;
  font-weight: bold;
}
.btn image {
  height: 25px;
  width: 25px;
}
