
.course-card{
						padding: "10px",
						borderRadius: "8px",
						display: "flex",
						flexDirection: "column",
						overflow: "hidden",
						borderRight: "1px solid #e0e0e0",
						borderBottom: "1px solid #e0e0e0",
						height: "95%",
						width: "95%",
						margin:"auto",
						zIndex: 2,
}
