.course-card {
	padding: 10px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 98%;
	width: 98%;
	margin: auto;
	z-index: 2;
	cursor: pointer;
}
.course-name {
	font-weight: bold;
	font-size: 20px;
	line-height: 1.4;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
	margin-bottom: auto;
}
.course-room {
	font-size: 20px;
	margin-top: auto;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
}
